<% if(success && success.length) {%>
    <div class="alertFlash successMessages">
        <h4><%= success %></h4>
        <button type="button" class="closeMessages" >
            <span>&times;</span>
        </button>
    </div>
    <% } %>
    
    <% if(error && error.length) {%>
    <div class="alertFlash errorMessages">
        <h4><%= error %></h4>
        <button type="button" class="closeMessages">
            &times;
        </button>
    </div>
    <% } %>

    <script>
        const close = document.querySelector('.closeMessages');
       close?.addEventListener('click',() =>{
        close.parentElement.style.display = 'none';
       })
    </script>