<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>


    <%- include('partials/flash')  %>
<div class="formContainer">


    <form action="/auth/signin" method="POST">
        <h1 class="formTitle">Sign In</h1>
        <div class="inputBox">
            <label class="fas fa-user"></label>
            <input type="text" name="username" placeholder="enter your username" required>
        </div>

        <div class="inputBox password">
            <label class="fa-solid fa-key"></label>
            <input type="password" name="password" placeholder="enter your password" required>
            <i class="fa-regular fa-eye"></i>
            <i class="fa-regular fa-eye-slash"></i>
        </div>

        <button>Login</button>
        <p>Don't you have an account? <a href="/auth/signup">Register</a></p>
        <p>forgot password? <a href="/auth/forget">Click here</a></p>
    </form>

</div>

    <script src="/scripts/form.js"></script>
    <%- include('partials/end')  %> 