<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>


    <%- include('partials/flash')  %>
<div class="formContainer">


    <form action="#" class="form">
        <h1 class="formTitle">Sign In</h1>
        <div class="inputBox">
            <label class="fa-solid fa-envelope"></label>
            <input type="email" id="email" placeholder="enter your email" required>
            <span class="error" id="emailError"></span>
        </div>

        <div class="inputBox password">
            <label class="fa-solid fa-key"></label>
            <input type="password" id="password" placeholder="enter your password" required>
            <i class="fa-regular fa-eye"></i>
            <i class="fa-regular fa-eye-slash"></i>
            <span class="error" id="passwordError"></span>
        </div>

            <span id="alert"></span>
        <button>Login</button>
    </form>

</div>

    <script src="/scripts/form.js"></script>
    <%- include('partials/end')  %> 