<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>


    <%- include('partials/navbar')  %>

    <%- include('partials/flash')  %>

    <form action="/create" method="POST">
        <h1>Change password</h1>
        <input type="password" name="password">
        <button type="subit" class="btn">Create</button>
    </form>


    <%- include('partials/end')  %> 