<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/form.css">
</head>
<body>

    <%- include('partials/flash')  %>

<div class="formContainer">


    <form action="/auth/signup" method="POST" class="form">
        <h1 class="formTitle">Sign Up</h1>
        <div class="inputBox">
            <label class="fas fa-user"></label>
            <input type="text" name="username" id="username" placeholder="enter your username">
            <span class="error" id="nameError"></span>
        </div>

        <div class="inputBox">
            <label class="fa-solid fa-envelope"></label>
            <input type="email" name="email" id="email" placeholder="enter your email">
            <span class="error" id="emailError"></span>
        </div>

        <div class="inputBox password">
            <label class="fa-solid fa-key"></label>
            <input type="password" name="password" id="password" placeholder="enter your password">
            <i class="fa-regular fa-eye"></i>
            <i class="fa-regular fa-eye-slash"></i>
            <span class="error" id="passwordError"></span>
        </div>

            <span id="alert"></span>
        <button onclick="return validateForm()">Register</button>
        <p>Do you have an account? <span>Login</span></p>
    </form>

</div>

    <script src="/scripts/form.js"></script>
    <script src="/scripts/register.js"></script>
    <%- include('partials/end')  %> 