
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background: var(--soft-white);
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style:none;
}

a{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
}

button{
    cursor:pointer;
    border:none;
    outline: none;
}

/* navbar styles */

header{
    width:100%;
    height:6rem;
    padding:0 3rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1da1f2;
}

header img{
    width:5rem;
    height:5rem;
}

.lists ul{
    display:flex;
    align-items: center;
    gap:2rem;
}

.lists ul li a,
.lists ul li form button{
    padding:1rem 3rem;
    background-color:#fff;
    color:#bd081c;
    border: 2px solid #1da1f2;
    text-align: center;
    font-size:1.8rem;
}

.lists ul li a:hover,
.lists ul li form button:hover{
    background-color: #bd081c;
    color:#fff;
    ;
}


/* flash messages styles */

.alertFlash{
    min-width: 25rem;
    max-height: 6rem;
    position: absolute;
    top:6rem;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    gap:3rem;
    font-size:1.6rem;
    padding:1.3rem;
    z-index:1000;
}

.succesMessages{
    background-color: green;
}

.errorMessages{
    background-color: tomato;
}

.closeMessages{
    font-size:2.4rem;
    background-color: transparent;
    margin-top:-.2rem;
}


@media (max-width:768px){
    html{
        font-size:55%;
    }
}

@media (max-width:490px){
    html{
        font-size:50%;
    }
}