
.userAbout{
    width:100vw;
    display:grid;
    grid-template-columns: 60vw 40vw;
    padding:2.5rem;
}

.main{
    grid-column: 1/2;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    font-size:4rem;
    text-align: center;
}

.todo{
    width:70%;
    display:flex;
    align-items: center;
    margin-top:5rem;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 1rem;
    -webkit-box-shadow: -8px -12px 37px -26px rgba(0,0,0,1);
    -moz-box-shadow: -8px -12px 37px -26px rgba(0,0,0,1);
    box-shadow: -8px -12px 37px -26px rgba(0,0,0,1);
    padding:2rem 3rem;
    position: relative;
}

.todo i{
    font-size:2rem;
    position: absolute;
    top:1rem;
    cursor: pointer;
}

.todo a i{
    margin-right:1rem;
    color:#1da1f2;
    left:1rem;
}

.todo form i{
    margin-left:1rem;
    color:#bd081c;
    right:1rem;
}

.todo .detail{
    width:100%;
}

.todo .detail h2{
    text-align: center;
    font-size:1.8rem;
    margin-bottom:2rem;
}

.todo .detail h3{
    text-align: justify;
    font-size:1.3rem;
    color:#808080;
    margin-bottom: 1rem;
}

.todo .detail h4{
    text-align: left;
    font-size:1.1rem;
    color:#bd081c;
    position: absolute;
    bottom:1rem;
    right:1rem;
}

.main p{
    margin-top:2rem;
    font-size:2rem;
    color:#bd081c;
}

.homeForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.homeForm h1{
    text-align: center;
    font-size:4rem;
}

.homeForm input,textarea{
    width:30vw;
    border:2px solid #1da1f2;
    border-radius: .5rem;
    padding:1rem;
}


.homeForm textarea{
    height:20rem;
    resize: none;
}

.homeForm .btn{
    font-size:1.5rem;
    width:13rem;
    background-color: #fff;
    border:2px solid #bd081c;
    padding:1rem 3rem;
    margin:0 auto;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.homeForm .btn:hover{
    background-color: #bd081c;
    color:#fff;
    ;
}



/* chnage password custom style */
.inputBox{
    width:30vw;
    height:2rem;
    margin-bottom:3rem;
    position: relative;
}

.inputBox input{
    width:100%;
    border:2px solid #1da1f2;
    border-radius: .5rem;
    padding:1rem;
}

.inputBox i{
    position: absolute;
    top:1.4rem;
    right:1rem;
    color:black;
}

.inputBox i:first-child{
    display: none;
}



@media (max-width:840px) {
    .homeForm{
        margin-top:3rem;
    }

    .todo{
        width:100%;
        padding-left: 2rem;
    }

    .userAbout{
        display:flex;
        flex-direction: column-reverse;
        gap:4rem;
    }

    .homeForm input,textarea{
        width:60vw;
    }

    .inputBox{
        width:60vw;
    }

}
